{% extends "base.html" %}
{% block content %}
<style>
    body,
        html {
            height: 100%;
            margin: 0;
        }

        .caption {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        font-family: monospace;
        color: #000;
        }

        .caption span.border {
        background-color: rgba(206, 166, 211, 0.4);;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 5px;
        }

        .bg {
            /* The image used */
            background-image: url("https://pbs.twimg.com/media/EhtPqNrVoAEPw8T?format=jpg");

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
</style>

<div class="bg">
    <div class="caption">
        <span class="border">hello, this is {{ name }}, {{ content }}</span><br>
    </div>
</div>
{% endblock %}