{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-6">
        <h1 class="text-center" style="color: #63526C">My Courses</h1>
        <table class="table">
            <thead class="thead-dark">
                <th scope="col-2">Mata Kuliah</th>
                <th scope="col-2">Options</th>
            </thead>
            <tbody>
                {% for i in course %}
                <tr>
                    <td class="table-dark">{{ i.name }} </td>
                    <td class="table-dark">
                        <a class="btn btn-success mr-1 mb-1" href="{% url 'profile:detail_course' i.id %}">Detail</a> 
                        <a class="btn btn-info mr-1 mb-1" href="{% url 'profile:update_course' i.id %}">Update</a>
                        <a class="btn btn-danger mr-1 mb-1" href="{% url 'profile:delete_course' i.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    
{% endblock %}