{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <form action="" class="main-form" id="form" method="POST">
        <h1 class="text-center">Course Forms</h1>
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="name">Mata Kuliah</label>
                    {{ form.name }}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="lecturer">Dosen</label>
                    {{ form.lecturer }}
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="description">Deskripsi</label>
                    {{ form.description }}
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="year">Semester/Tahun Ajaran</label>
                    {{ form.year }}
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="credit">SKS</label>
                    {{ form.credit }}
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="room">Ruang</label>
                    {{ form.room }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>

{% endblock %}