{% extends "base.html" %}
{% block content %}

<section class="landing-page" id="home">
    <div class="container-1">
        <div class="landing-page-column">
            <div id="landing-page-caption1">
                Hello, I'm
            </div>
            <div id="landing-page-caption2">
                Faris Ardhafa
            </div>
        </div>
    </div>
</section>

<div class="section-a" id="resume">
    <h1>Resume</h1>
    <div class="container-2">
        <div class="education">
            <h3>Education</h3>
            <div id="section-a-content1">
                <h4>High School</h4>
                <h3>78 Senior High School, Jakarta</h3>
                <h5>2017 - 2019</h5>
            </div>
            <div id="section-a-content3">
                <h4>University</h4>
                <h3>Faculty of Computer Science, University of Indonesia</h3>
                <h5>2019 - Present</h5>
            </div>
        </div>
        <div class="experiences">
            <h3>Experiences</h3>
            <div id="section-a-content2">
                <h4>COMPFEST</h4>
                <h3>Finance Staff</h3>
                <h5>2020</h5>
            </div>
        </div>
    </div>
</div>

<section class="section-b" id="about">
    <h1>About Me</h1>
    <div class="container-3">
        <div class="contact">
            <div id="section-b-content1">
                <h2>Contact</h2>
                <h3>EMAIL</h3>
                <h4>frsardhafa@gmail.com</h4>
                <h3>PHONE</h3>
                <h4>+62 878 8605 4739</h4>
                <h3>ADDRESS</h3>
                <h4>Taman Alfa Indah B5/6, Joglo, Kembangan, West Jakarta, 11640</h4>
            </div>
        </div>
        <div class="about">
            <div id="section-b-content2">
                <p>Hi, my name is Faris Ardhafa. I’m a student at University of Indonesia. I specialize in Python and
                    Java language.
                    Currently I’m learning web development and this profile is one of the example. I will add more of my
                    skills and
                    experiences in the future. Thank you and have a great day!
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

 