{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <form action="" class="main-form" id="form" method="POST">
        <h1 class="text-center">Register Forms</h1>
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ formset.management_form }}
                    {% for form in formset %}
                    {{ form.as_p }}
                    {% endfor %}
                    <br>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>

{% endblock %}