html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    margin-right: 20px;
    background-color: #DDB6EF;
}

.btn btn-info, .btn btn-danger {
    padding: 5px;
}

.main-form {
    padding: 50px;
    margin: auto;
}.delete-form {
    margin: auto;
    width: 200px;
}.course {
    padding: 50px;
    margin: auto;
}

.container-fluid {
    padding: 30px;
    margin: auto;
}

.container-fluid h1 {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: #63526C;
}

.container-1{
    width: 100%;
    padding: 20px;
    margin: auto;
}.container h1 {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: #63526C;
}

.container-2{
    display: flex;
    flex-wrap: wrap;
}.education {
    flex: 1;
    order: 1;
}.experiences {
    flex: 1;
    order: 2;
}.container-2 div {
    border: 20px;
    padding: 60px;
}

.container-3{
    display: flex;
    flex-wrap: wrap-reverse;
}.contact {
    flex: 1;
    order: 1;
}.about {
    flex: 1;
    order: 2;
}.container-3 div {
    border: 20px;
    padding: 45px;
}

.landing-page {
    background: url("https://pbs.twimg.com/media/EjHiaKyU4AMwe_w?format=jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 100vh;
    width: 100vw;
}.row {
    padding-top: 10vh;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
}.landing-page-column {
    font-family: 'Roboto', sans-serif;
    color: rgba(250, 240, 255, 0.87);
    padding-top: 20vh;
    text-align: center;
}#landing-page-caption1 {
    font-size: 60px ;
}#landing-page-caption2 {
    font-size: 70px ;
    font-weight: bold;
}

.section-a {
    padding-top: 5vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    color: #63526C;
}.section-a h1 {
    padding-left: 50px;
    font-size: 50px;
}.section-a h3 {
    font-size: 30px;
}.section-a h4 {
    font-size: 25px;
}.section-a h5 {
    font-size: 20px;
}#section-a-content1 {
    background-color: #C978EF;
}#section-a-content2 {
    background-color: #C978EF;
}#section-a-content3 {
    background-color: #C978EF;
}


.section-b {
    font-family: 'Roboto', sans-serif;
    color: #63526C;
    width: 100vw;
}.section-b h1 {
    text-align: right;
    padding-right: 10%;
    font-size: 50px;
}.section-b h2 {
    font-size: 25px;
    padding-bottom: 10%;
}.section-b h3 {
    font-size: 20px;
}.section-b h4 {
    font-size: 20px;
    padding-bottom: 5%;
}#section-b-content1 {
    background-color: #C978EF;
}#section-b-content2 {
    font-size: 25px;
}
